<% provide(:title, t('titles.management')) %>
<div class="row">
    <div class="col-sm-12">
        <%= render 'shared/flash_message' %>
        <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                    <h4 class="card-title"><%= t('titles.user_list') %></h4>
                </div>
            </div>
            <div class="iq-card-body">
                <ul class="request-list list-inline m-0 p-0" id="user-list">
                    <%= render @users %>
                </ul>
            </div>
        </div>
    </div>
</div>
<% parent_layout "layouts/base_layout" %>
