<% provide(:title, t('titles.bad_500')) %>
  <h1 class="text-in-box">500</h1>
  <h2 class="mb-0"><%= t('titles.bad_500_title') %></h2>
  <p><%= t('titles.bad_500_msg') %></p>
<% parent_layout "layouts/error_layout" %>

