<% provide(:title, t('titles.bad_404')) %>
  <h1 class="text-in-box">404</h1>
  <h2 class="mb-0"><%= t('titles.bad_404_title') %></h2>
  <p><%= t('titles.bad_404_msg') %></p>
<% parent_layout "layouts/error_layout" %>
