<tr>
  <%= form_for(@category) do |f| %>
    <td width="25%">
      <%= f.text_field :name, :required => true, class: "form-control rounded", placeholder: t('form.category_name_plh') %>
    </td>
    <td width="55%">
      <%= f.text_field :description, class: "form-control rounded", placeholder: t('form.category_description_plh') %>
    </td>
    <td width="20%">
      <span class="table-add">
        <%= f.submit t('button.add'), class: "mr-3 btn btn-dark rounded btn-custom btn-add-new" %>
      </span>
    </td>
  <% end %>
</tr>
